.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    outline: 1px solid;
    width: 100%;
}

.header nav {
    display: none;
}

.header-menu{
    display: flex;
    align-items: center;
    width:30px;
    height:50px;
    margin-right: 10px;
    cursor: pointer;
    
}

@media(min-width:768px) {
    .header{
        display: flex;
        justify-content: space-between;
        background-color: var(--black);
        height:75px ;
        padding:0 15px ;
    }
    .header-logo{
    display: flex;
    align-items: center;
    
    }

    
    .header nav{
        display: flex;
        align-items: center;
        width: 320px;


    }
    .header nav ul{
        list-style: none;
        width: 320px;
        display: flex;
        justify-content: space-between;
    }
    .header-menu{
        display: none;
    }
    .header nav li > a {
        text-decoration: none;
        color: var(--white);

    }
}

@media(max-width:435px) {
    .header{
        display: flex;
        justify-content: space-between;
        background-color: var(--black);
        height:75px ;
        padding:0 15px ;
    }
    .header-logo{
    display: flex;
    align-items: center;
    }
    .header nav{
        display: flex;
        align-items: center;
        width: 320px;


    }
    .header nav ul{
        list-style: none;
        width: 320px;
        display: flex;
        justify-content: space-between;
    }

        
    }
    .header nav li > a {
        text-decoration: none;
        color: var(--white);

    

    }


    .section-paragraph{
        display: flex;
    }
    .header-menu:hover .options.close.show{
        transition: all s ease-out;
    }
    

    .options.close{

        display:none;
        
    }
      
    .options.show{
        display: block;
    }

    
