.options.close{

    display:none;
    background-color: var(--black);
    position: absolute;
    height: 20vh;
    width: 100px;
    padding: 2rem;
    right: -30px;
    margin-top: 40px;
   
    
}
.options.close ul li> a {
    text-decoration: none;
    color: var(--white);
    list-style-type: none;

}
.options.close lista{
    list-style-type: none;

}



.options.close ul{
    color: aliceblue;
    list-style-type: none;
    gap: 1rem;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
}
  
.options.show{
    display: block;
}
